// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
    color: $font_green;
    text-decoration: none; 
    border: 2px solid $font_green;
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    border-radius: 1.5rem;
    background-color: $font_light;
    &:hover {
        color: white;
        text-decoration: none; 
        background-color: $font_green;
    }
}