<section class="about-me">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10 about-me__title title text-center mb-3">
                <h3>Привет и добро пожаловать на мой сайт !</h3>
            </div>
        </div>
       
        <div class="row justify-content-center align-items-start">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-12 px-0">
                        <img src="../assets/img/2goda.jpg" alt="" class='mypic'> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <img src="../assets/img/newborn.jpg" alt="" class='mypic'>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-12 px-0">
                        <img src="../assets/img/4years.jpg" alt="" class='mypic'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <img src="../assets/img/godik2.jpg" alt="" class='mypic'>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-12 px-0">
                        <img src="../assets/img/timurbej.jpg"  alt="" class='mypic'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <img src="../assets/img/3years.jpg" alt="" class='mypic'>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>