<footer class="footer pt-5 pb-5 text-center">
  <div class="container-fluid">
    <div class="row footer__top pb-5">
      <div class="col-12 my-3 my-lg-0  col-lg-3 text-center">
        <h3 class='footer__title d-none d-lg-block mb-3 font-weight-bold'>YOUNG & WILD</h3>
        <div class='footer__social d-flex justify-content-around'>
          <a href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
          <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
          <a href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="col-12 col-lg-3 text-center text-lg-left mb-3 footer__info">
        <p class='font-weight-bold mb-3'>CONTACTS:</p>
            <p class='font-weight-bold'>Адрес:</p>
            <p> Прекрасная Украина, любимый Харьков</p>
            <p class='font-weight-bold'>Телефон:</p>
            <p> Лучше спросите у моей мамы</p>
            <p class='font-weight-bold'>E-mail:</p>
            <p> Попробуйте написать моему папе</p>
      </div>
      <div class="col-12 text-center col-lg-3 text-lg-right">
        <p class='font-weight-bold mb-3'>MENU:</p>
            <nav class='footer__menu'>
                <ul>
                    <li><a href="#">Обо Мне</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Моя Семья</a></li>
                    <li><a href="#">Мои Путешествия</a></li>
                </ul>
            </nav>
      </div>
      <div class="col-lg-3 col-12 ">
        <div class="footer__img">
            <a href="#">
                <img src="../assets/img/footerliontransparent250.png" alt="Just another cute lion cub">
            </a>
        </div>
      </div>
    </div>
    <div class='row justify-content-center footer__bottom'>
      <div class='col-12 text-center'>
        <p><i class="fa fa-copyright" aria-hidden="true"></i> 2021 Alya & Vika</p>
      </div>
    </div>
  </div>
</footer>
<!-- build:js -->
<script src="{{root}}assets/vendor/js/jquery.js"></script>
<script src="{{root}}assets/vendor/js/popper.js"></script>
<script src="{{root}}assets/vendor/js/bootstrap.js"></script>
<script src="{{root}}assets/js/util/autoPadding.js"></script>
<script src="{{root}}assets/js/util/crossPlatform.js"></script>
<script src="{{root}}assets/js/main.js"></script>
<!-- endbuild -->
