<div class="container-fluid">
  <div class="row justify-content-end">
    <div class="col-12 p-0">
      <div class="header__links d-flex justify-content-end" style="background: url('../assets/img/leaves.jpeg') no-repeat center center / cover">
        <a href="#" class="button mr-3 d-none"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
        <a href="#" class="button mr-3 d-none"><i class="fa fa-paw" aria-hidden="true"></i> Login</a>
        <a href="#" class="button mr-3 d-none"><i class="fa fa-paw" aria-hidden="true"></i> Sign up</a>
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center header__hero">
    <div class="col-lg-4">
      <div class="header__img">
        <a href="#">
          <img src="../assets/img/headertransparent350.png" alt="header_logo" />
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="header__info">
        <h1 class='header__title'>YOUNG & WILD</h1>
        <h3 class="header__subtitle">Удивительные приключения Короля-(ле)Львёнка</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-0">
      <div class='wrap ' style="background: url('../assets/img/leaves.jpeg') no-repeat center center / cover"></div>
      <nav class="header__menu text-center">
        <!-- <ul>
          <li><a href="#">Обо Мне</a></li>
          <li><a href="#">Блог</a></li>
          <li><a href="#">Моя Семья</a></li>
          <li><a href="#">Мои Путешествия</a></li>
        </ul> -->
        <p class='mb-0'>Сайт находится в стадии разработки</p>
      </nav>
      <div class='wrap' style="background: url('../assets/img/leaves.jpeg') no-repeat center center / cover"></div>
    </div>
  </div>
</div>
