<section class="years">
    <div class="container-fluid years__container">
        <div class="row justify-content-center">
            <div class="col-10 title years__title text-center">
                <h3>Больше всего я люблю...</h3>
                <div class="col-4 d-lg-block d-none tucan">
                    <img src="../assets/img/kartinki/tucan.png" alt="">
                  </div>
                  <div class="col-4 d-lg-block d-none ara">
                    <img src="../assets/img/kartinki/ara.png" alt="">
                  </div>
            </div>
        </div>
        <div class="row years-grid justify-content-center">
            <div class="col-12 col-lg-3">
                <div class="years__item">
                    <div class="polaroid">
                        <img src="../assets/img/glory.jpeg">
                        <div class="caption">Мечтать о великом</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="years__item second-item">
                    <div class="polaroid">
                        <img src="../assets/img/swimming.jpeg">
                        <div class="caption">Наслаждаться моментом</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="years__item third-item">
                    <div class="polaroid">
                        <img src="../assets/img/snow.jpeg">
                        <div class="caption">Радоваться жизни</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row years-grid justify-content-center">
            <div class="col-12 col-lg-3">
                <div class="years__item fourth-item">
                    <div class="polaroid">
                        <img src="../assets/img/ride.jpg">
                        <div class="caption">Мчаться вперед</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="years__item fifth-item">
                    <div class="polaroid">
                        <img src="../assets/img/coocking.jpeg">
                        <div class="caption">Пробовать новое</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 year">
                <div class="years__item sixth-item">
                    <div class="polaroid">
                        <img src="../assets/img/class.jpg">
                        <div class="caption">Быть счастливым</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>